.slides {
	height: 100%;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	display: flex;
}

.slide {
	flex-shrink: 0;
	overflow-y: auto;
	scroll-snap-align: start;
	width: 100%;
	height: 100%;
}

.editor {
	font-family: 'Inconsolata';
	font-style: normal;
}

.score {
	display: inline-block;
	line-height: 1.4;
}

.definitions {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-wrap: wrap;
	gap: var(--padding-start);
	z-index: 1;
	transform: translateY(-1em);
}

.definition {
	font-family: 'Inconsolata';
	font-style: normal;
	line-height: 1;
	background-color: var(--ion-toolbar-background);
	border-radius: calc(var(--padding-start) / 4);
	width: fit-content;
	margin-top: 1em;
}

.definition .note {
	flex-basis: 100%;
	width: 0;
	margin-bottom: 1em;
	text-align: center;
	font-weight: 900;
}

.definition.frets {
	display: flex;
	flex-wrap: wrap;
	padding: calc(var(--padding-start) / 4) calc(.3em + var(--padding-start) / 4) calc(var(--padding-start) / 4) calc(.6em + var(--padding-start) / 4);
}

.definition.frets .string {
	background-color: var(--ion-text-color);
	border-top: calc(var(--padding-start) / 8) solid var(--ion-toolbar-background);
	margin-top: calc(0px - var(--padding-start) / 8);
}

.definition.frets .string[data-base="1"] {
	border-top: calc(var(--padding-start) / 8) solid white;
}

.definition.frets .string .fret:not(:last-of-type)::before {
	background-color: var(--ion-text-color-step-600);
	border-radius: 50%;
	width: .5em;
	height: 0;
	display: block;
	position: relative;
	left: calc(-.75em - 1px);
	top: .25em;
	overflow: visible;
}

.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="3"]::before,
.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="5"]::before,
.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="7"]::before,
.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="9"]::before,
.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="15"]::before,
.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="17"]::before,
.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="19"]::before,
.definition.frets .string[data-string="3"] .fret:not(:last-of-type)[data-fret="21"]::before {
	content: ' ';
}

.definition.frets .string[data-string="2"] .fret:not(:last-of-type)[data-fret="12"]::before,
.definition.frets .string[data-string="4"] .fret:not(:last-of-type)[data-fret="12"]::before,
.definition.frets .string[data-string="2"] .fret:not(:last-of-type)[data-fret="24"]::before,
.definition.frets .string[data-string="4"] .fret:not(:last-of-type)[data-fret="24"]::before {
	content: ' ';
}

.definition.frets .string:first-of-type .fret:not(:last-of-type)::before {
	content: attr(data-fret);
	display: block;
	position: relative;
	height: 0;
	top: 0;
	left: -1.5em;
	text-align: right;
	width: auto;
}

.definition.frets .fret {
	font-size: .6em;
	background-color: var(--ion-toolbar-background);
	width: 1em;
	height: 1em;
	margin-top: 1px;
	margin-left: 1px;
}

.definition.frets .fret.active::after {
	content: attr(data-position);
	display: block;
	background-color: var(--ion-color-primary);
	border-radius: 50%;
	position: relative;
	top: calc(-1em - 1px);
	left: calc(-.5em - 1px);
	width: 1em;
	height: 1em;
	text-align: center;
	overflow: hidden;
	z-index: 10;
}

.definition.frets .fret:first-of-type.active::after {
	background-color: transparent;
	top: calc(-1.5em);
}

.definition.frets .string:last-of-type .fret {
	width: 0;
}

.definition.frets .fret:last-of-type {
	height: 0;
}

.definition.keys {
	display: flex;
	flex-wrap: wrap;
	padding: calc(var(--padding-start) / 4) calc(var(--padding-start) / 8) calc(var(--padding-start) / 4) calc(var(--padding-start) / 8);
}

.definition.keys .white-key {
	background-color: var(--ion-text-color);
	width: .6em;
	height: 2.7em;
	margin-left: calc(var(--padding-start) / 8);
	margin-right: calc(var(--padding-start) / 8);
	border-radius: calc(var(--padding-start) / 8);
}

.definition.keys .black-key {
	background-color: var(--ion-toolbar-background);
	width: .5em;
	height: calc(2.7em / 1.625);
	margin-left: -.5em;
	margin-top: calc(0px - var(--padding-start) / 16);
	transform: translateX(50%);
	border: calc(var(--padding-start) / 16) solid var(--ion-toolbar-background);
	border-radius: calc(var(--padding-start) / 16);
	
}

.definition.keys .active {
	background-color: var(--ion-color-primary);
	text-align: center;
}

.definition.keys .active::after {
	content: attr(data-note);
	display: inline-block;
	position: relative;
	top: -2em;
	font-size: .6em;
	width: 1em;
}

.score .meta {
	font-weight: 200;
	margin-top: 1em;
	margin-bottom: 1em;
}

.score .section {
	margin-bottom: 1.5em;
}

.score .section-title {
	font-family: var(--ion-font-family);
	font-weight: 200;
}

.score .tab,
.score .t {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 900;
	line-height: 1.2;
}

.score .verse,
.score .v {}

.score .chorus,
.score .c {
	border-left: .2em solid var(--ion-color-primary);
	padding-left: .5em;
	font-weight: 900;
}

.score .bridge,
.score .b {
	padding-left: .7em;
	padding-top: .4em;
	padding-bottom: .4em;
	font-style: italic;
	background-color: var(--ion-background-color-step-50);
}

.score .chord {
	display: inline-block;
	position: relative;
	top: -1.2em;
	width: 0;
	font-weight: 900;
	padding-top: 1.2em;
	white-space: nowrap;
}

.tempo {
	animation: blink calc(60s / var(--bpm, 120)) ease-in-out infinite;
	animation-timing-function: ease-in-out;
}

@keyframes blink {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}